.text-bienvenida-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.text-bienvenida-text {
  color: var(--dl-color-gray-white);
  font-size: 44px;
  text-align: left;
  font-weight: 700;
  line-height: 1.2;
}
.text-bienvenida-root-class-name {
  margin-left: 0;
  margin-bottom: var(--dl-space-space-twounits);
}
