.third-image-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.third-image-root-class-name {
  width: auto;
  height: auto;
}
