.third-tittle-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.third-tittle-text {
  color: rgb(51, 51, 51);
  width: auto;
  height: auto;
  font-size: 44px;
  text-align: left;
  font-weight: 700;
  line-height: 1.2;
}
.third-tittle-root-class-name {
  align-self: flex-start;
}
